.loader {
    margin: 0 auto; /* para posicionarlo en el centro */
    margin-top: 20px; /* para posicionarlo en el centro */
    width: 48px;
    height: 48px;
    border: 5px solid var(--color-secundario);
    border-bottom-color: #68fff2;
    border-radius: 50%;
    display: block; /* para posicionarlo en el centro, el codigo venia en "inline block" pero lo hemos puesto en "block"*/
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 